AACT/clinicial_trials.zip
AACT/schema_diagram.png
AACT/postgres_data.dmp
AACT/nlm_results_definitions.html
AACT/nlm_protocol_definitions.html
AACT/admin_schema_diagram.png
AACT/clinical_trials.zip
AACT/data_dictionary.xlsx
